
.special {
  margin-bottom: 123px;
}

.special__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.special-item {
  width: 890 * $per;

  @media (max-width: $mobile-l) {
    width: 100%;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.special-item a {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 585px;
  padding: 50 * $per;

  font-size: 1.67em;
  text-align: center;
  color: $secondary;
  text-transform: uppercase;

  &:hover {
    opacity: 0.5;
  }

  @media (max-width: $laptop) {
    height: 385px;

    font-size: 1.5em;
  }
}

.special-item__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

.special-item__icon {
  margin-top: -70px;
  margin-bottom: 50px;

  @media (max-width: $laptop) {
    width: 62px;
    margin-top: -20px;
    margin-bottom: 25px;
  }
}

.special-item__title {
  margin: 0 auto 20px;

  font-weight: 900;
  font-size: 1.1em;
}

.special-item__details {
  margin: 0;

  span {
    display: block;
    margin-top: 30px;

    font-weight: 900;
    font-size: 1.1em;
  }
}